@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    font-family: 'Advent Pro';
    user-select: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --bgColor:#031A2C;
    --textColor:#fff;
    --textSecondaryColor:#00E4F5;
    --textSecondaryColorDark:#45506E;
    --transition:all .4s;
}

body{
    background-color: var(--bgColor);
}
