@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    font-family: 'Advent Pro';
    user-select: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --bgColor:#031A2C;
    --textColor:#fff;
    --textSecondaryColor:#00E4F5;
    --textSecondaryColorDark:#45506E;
    --bgColorLight:#062440;
    --transition:all .4s;
}

body{
    background-color: var(--bgColor);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15% 100px 15%;
    .title{
        margin-bottom: 2rem;
    }
}

/* For Tablets */
@media screen and (max-width:999px){
    .container{
        padding: 0 5% 100px 5%;
    }
}

/* For Mobiles */
@media screen and (max-width:599px){

}

@keyframes animateLeft {
    0%{
        transform: translateX(-10px);
        opacity: 0;
        filter: blur(33px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0);

    }
}

@keyframes animateRight {
    0%{
        transform: translateX(10px);
        filter: blur(33px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes animateDown {
    0%{
        transform: translateY(10px);
        filter: blur(33px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes animateTop {
    0%{
        transform: translateY(-10px);
        filter: blur(33px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        filter: blur(0);
        opacity: 1;
    }
}